.search-bar-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
    width: 100%;
  }

  .search-input {
    flex-grow: 1;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
  }
  
  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: white;
  }
  .search-icon{
    color: rgb(176, 176, 176);
  }
  
  .search-button:focus {
    outline: none;
  }
  
  
  .search-bar-container input,
  .search-bar-container button {
    border: none;
    outline: none;
  }
