.App {
  text-align: center;
}
.Result-text{
  font-size: 22px;
  color: #af2f9a;
}
.background-color{
  background-color: rgb(237, 237, 237);
  min-height: 100vh;
}
.Novo-card{
  width: 15%;
  height: 10px;
  background-color: orange;
  padding: 20px;
  border-radius: 8px;
  border-color: rgb(234, 234, 234);
  align-items: center;
  display: flex;
}
.container {
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
}
.search-bar-background {
  height: 20vh; /* 20% of the viewport height */
  width: 100%; /* Full width */
  background-image: url('./images/techBackground.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}
.create-user-section {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between
}
.results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: flex-start; 
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}